:root {
    --bg-1: #1e293b;
    --bg-2: #0f172a;
    --bg-3: #020617;

    --text: #ffffff;
    --text-muted: #cbd5e1;

    --card-bg: rgba(17, 24, 39, 0.7);
    --border: rgba(255, 255, 255, 0.08);

    --primary: #3b82f6;
    --primary-hover: #2563eb;

    --table-hover: rgba(59, 130, 246, 0.08);
    --table-header: rgba(59, 130, 246, 0.15);
    --even-hover: rgba(255,255,255,0.02);
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
    background: radial-gradient(
            circle at top,
            var(--bg-1) 0%,
            var(--bg-2) 40%,
            var(--bg-3) 100%
    );
}

.page {
    max-width: 70%;
    margin: 30px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}

.card {
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 18px;
}

.filter {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #374151;
    background: #0b1220;
    color: var(--text);
    outline: none;
}

input:focus {
    border-color: var(--primary);
}

button {
    padding: 10px 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: var(--primary);
    color: white;
    font-size: 15px;
}

button:hover {
    background: var(--primary-hover);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
}

th {
    padding: 16px;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--table-header);
    color: #93c5fd;
    border-bottom: 1px solid var(--border);
}

td {
    padding: 12px;
    color: #e5e7eb;
    border-bottom: 1px solid var(--border);
}

tr:hover td {
    background: var(--table-hover);
}

tr:nth-child(even) td {
    background: var(--even-hover);
}

.error {
    color: red;
    text-align: center;
}